__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Project-specific
all_devices.json
output/
command_output_*.txt
unpatching_list_*.xlsx
port-information-*.xlsx
test_report_*.xlsx
token.env
dnac.env
*.pyc
.DS_Store
.vscode/
.idea/
