# Cisco DNA Center Credentials
# Replace with your own values, these are for demonstration purposes only
# https:// is not required, just FQDN
DNAC_HOST=localhost
DNAC_USERNAME=your_username
DNAC_PASSWORD=your_password
